h1, h2, p, ul, li, a {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4 {
  background-image: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

p, li, a, span {
  color: hsla(217, 24%, 59%, 1) !important;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: "Sora", sans-serif;
	// color: #222222;
  background-color: hsla(222, 47%, 11%, 1);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

