/*==========================================
Media Querys Mobile
============================================*/

/*/////////////////////// Dispositivos extras pequenos (telefones de retrato, menos de 576px) ////////////////////////////////////////////*/
@media (max-width: 575px) {
  body, p, span {
    font-size: 90% !important;
  }

  .container-receita {
    margin-bottom: 1.5rem;
  }

  .container-receita + div {
    margin: 0 auto;
  }
}

/*/////////////////////// Dispositivos extras pequenos (telefones de retrato, menos de 576px) ////////////////////////////////////////////*/
@media (min-width: 576px) and (max-width: 767px) {
}

/*/////////////////////// Dispositivos médios (tablets, 768px e acima) ///////////////////////////////////////////////////////////////////*/
@media (min-width: 768px) and (max-width: 991px) {
}

/*/////////////////////// Dispositivos grandes (desktops, 992 px e acima) ////////////////////////////////////////////////////////////////*/
@media (min-width: 992px) and (max-width: 1199px) {
}

/*/////////////////////// Dispositivos extra grandes (grandes áreas de trabalho, 1200px e acima) /////////////////////////////////////////*/
@media (min-width: 1200px) {
}

/*/////////////////////// Dispositivos extra extra grandes (grandes áreas de trabalho maior ainda, 1500px e acima) ///////////////////////*/
@media (min-width: 1500px) {
}

/*/////////////////////// Dispositivos menores que extra grandes (abaixo de 1066px) ///////////////////////*/
@media (max-width: 1066px) {
}
