@charset "UTF-8";
/* Custom Mixins -------------------- */
:root {
  --primary-color: #0d0b52;
  --secondary-color: #3458b9;
  --heading-color: #292922;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-50: #f7fafc;
  --gray-100: #e1e1e6;
  --gray-300: #a8a8b3;
  --gray-700: #323238;
  --gray-800: #29292e;
  --gray-850: #1f2729;
  --gray-900: #121214;
  --cyan-500: #61dafb;
  --yellow-500: #eba417;
  --purple-50: #faf5ff;
  --purple-100: #e9d8fd;
  --purple-300: #b794f4;
  --purple-500: #805ad5;
  --purple-600: #6b46c1;
  --purple-700: #553c9a;
  --purple-800: #44337a;
  --purple-900: #322659;
}

h1, h2, p, ul, li, a {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4 {
  background-image: -webkit-gradient(linear, left top, right top, from(#0ea5ea), color-stop(51%, #0bd1d1));
  background-image: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

p, li, a, span {
  color: hsl(217, 24%, 59%) !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora", sans-serif;
  background-color: hsl(222, 47%, 11%);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*=====================================
Button
====================================*/
button {
  width: 100%;
  padding: 0.75rem 1.25rem;
  background: var(--purple-700);
  color: var(--white-color);
  border: none;
  border-radius: 24px;
  outline: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3), 0 4px 8px 3px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3), 0 4px 8px 3px rgba(60, 64, 67, 0.15);
}
button:hover, button:focus {
  opacity: 0.8;
}

/*==========================================
Media Querys Mobile
============================================*/
/*/////////////////////// Dispositivos extras pequenos (telefones de retrato, menos de 576px) ////////////////////////////////////////////*/
@media (max-width: 575px) {
  body, p, span {
    font-size: 90% !important;
  }
  .container-receita {
    margin-bottom: 1.5rem;
  }
  .container-receita + div {
    margin: 0 auto;
  }
}
/*/////////////////////// Dispositivos extras pequenos (telefones de retrato, menos de 576px) ////////////////////////////////////////////*/
/*/////////////////////// Dispositivos médios (tablets, 768px e acima) ///////////////////////////////////////////////////////////////////*/
/*/////////////////////// Dispositivos grandes (desktops, 992 px e acima) ////////////////////////////////////////////////////////////////*/
/*/////////////////////// Dispositivos extra grandes (grandes áreas de trabalho, 1200px e acima) /////////////////////////////////////////*/
/*/////////////////////// Dispositivos extra extra grandes (grandes áreas de trabalho maior ainda, 1500px e acima) ///////////////////////*/
/*/////////////////////// Dispositivos menores que extra grandes (abaixo de 1066px) ///////////////////////*/
/*Superinfo*/
.superinfo-bg {
  background: #122ab2;
  color: white;
}

.superinfo {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
}

.superinfo p, .superinfo a {
  margin: 0 10px 10px 10px;
}

.superinfo a {
  color: white;
}

/*Menu*/
.menu-bg {
  background: hsl(222, 44%, 13%);
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu a {
  color: white;
}

.menu-logo a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.menu-nav a:hover {
  color: #122ab2;
}

/*Introdução*/
.introducao {
  font-size: 3em;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}

/*Sobre*/
.sobre {
  border-top: 2px solid hsl(199, 89%, 49%);
  border-bottom: 2px solid hsl(199, 89%, 49%);
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sobre-info {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 300px;
          flex: 2 1 300px;
  margin: 0 10px;
}

.sobre-info h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.sobre-info p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;
}

.sobre-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 160px;
          flex: 1 1 160px;
  margin: 0 10px;
}

/*Produtos*/
.produtos {
  max-width: 960px;
  margin: 60px auto;
}

.produtos h1 {
  font-size: 3em;
  margin: 0 10px 60px 10px;
}

.produtos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.produtos-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 175px;
          flex: 1 1 175px;
  margin: 10px;
}

.produtos-item h2 {
  font-size: 1.5rem;
  color: #a4a4a4;
  padding: 60px 20px;
}

.purple {
  border-top: 8px solid #ae81ff;
}

.pink {
  border-top: 8px solid #f9265e;
}

.blue {
  border-top: 8px solid #66d9eb;
}

/*Preco*/
.preco {
  background: hsl(222, 44%, 13%);
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.preco-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 260px;
          flex: 1 1 260px;
  border: 4px solid white;
  padding: 20px;
  margin: 10px;
}

.preco-item h2 {
  font-size: 3em;
  text-align: center;
  margin-top: 20px;
}

.preco-item span {
  max-width: 300px;
  margin: 20px auto;
  display: block;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  padding: 10px 0 5px 0;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

.preco-item sup {
  font-size: 1.5rem;
}

.preco-item ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25em;
  font-style: italic;
  color: #7c7c7c;
}

.preco-item li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.preco-item li::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: hsl(199, 89%, 49%);
  border-radius: 50%;
}

.preco-item a {
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border: 4px solid;
  color: #222222;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.25em;
  padding: 15px 0;
  text-align: center;
}

@media (max-width: 800px) {
  .preco {
    padding-left: 10px;
    padding-right: 10px;
  }
  .preco .preco-item:nth-child(3) {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .preco .preco-item:nth-child(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
/*Qualidade*/
.qualidade {
  max-width: 960px;
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.qualidade-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  margin: 20px 10px;
}

.qualidade-item h2 {
  font-size: 1.5rem;
  color: #a4a4a4;
  margin-bottom: 20px;
}

.qualidade-item h2::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
}

.qualidade-item:nth-of-type(3n+1) h2::before {
  background: #ae81ff;
}

.qualidade-item:nth-of-type(3n+2) h2::before {
  background: #f9265e;
}

.qualidade-item:nth-of-type(3n+3) h2::before {
  background: #66d9eb;
}

.qualidade-item p {
  font-size: 1.25em;
  line-height: 1.4;
  color: #7c7c7c;
}

/*Newsletter*/
.newsletter {
  background: #f7f7f7;
  padding: 60px calc((100% - 960px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.newsletter-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 240px;
          flex: 1 1 240px;
  margin: 0 10px;
}

.newsletter-info h1 {
  font-size: 3em;
  color: #a4a4a4;
}

.newsletter-info p {
  font-size: 1.25em;
  font-style: italic;
  max-width: 230px;
  color: #7c7c7c;
  margin-bottom: 10px;
}

.newsletter-form {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 260px;
          flex: 2 1 260px;
  margin: 0 10px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.newsletter-form input {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 260px;
          flex: 3 1 260px;
  font-size: 1.25em;
  color: #7c7c7c;
  font-style: italic;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  border: 4px solid hsl(199, 89%, 49%);
  background: transparent;
  padding: 15px 10px;
  margin: 0px;
  border-radius: 0px;
}

a.link {
  color: hsl(199, 89%, 49%) !important;
  text-decoration: underline;
}

.newsletter-form button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 260px;
          flex: 1 1 260px;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-size: 2.25em;
  font-weight: bold;
  text-transform: uppercase;
  background: hsl(199, 89%, 49%);
  color: white;
  margin: 0px;
  cursor: pointer;
  border: 0px;
  padding: 15px 10px;
}

@media (max-width: 600px) {
  .newsletter-form button {
    font-size: 1.5em;
  }
}
/*Footer*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: hsl(222, 44%, 13%);
  height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-size: 2.25em;
  color: #122ab2;
}

.container-receita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}